      <!-- Section Started Heading -->
<section class="section section-inner started-heading">

    <!-- Heading -->
    <div class="container">
        <div class="m-titles align-left">
            <h1 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span>Helping Beauty products Exporter Stay Profitable & Tax-Compliant</span>
            </h1>
            <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span>Accounting, Bookkeeping & Taxation</span>
            </div>
        </div>
    </div>

    <!-- Details -->
    <div class="v-line v-line-right v-line-top">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                    <div class="m-details">

                        <div class="details-label">
                            <span>Technology:</span>
                            <strong><span>Quick Book, FTA</span></strong>
                        </div>
                        <div class="details-label">
                            <span>Categories:</span>
                            <strong><span>Accounting, Bookkeeping & Taxation</span></strong>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 align-right">
                    <a href="javascript:void(0);" class="btn consultationButton scrolla-element-anim-1 scroll-animate" id="consultationButton" data-animate="active">
                        <span><strong>Book Now</strong></span>
                    </a>
                </div>
            </div>

        </div>
    </div>

</section>

<!-- Section - Description -->
<section class="section section-inner">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="post-content">
                    <h4>Financial Clarity for Smooth Global Sales</h4>
                </div>

            </div>
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="post-content">
                        <p class="dashed">Organized financial records for <b>9+</b> online beauty exporters.</p>
                        <p class="dashed"><b>25%</b> fewer accounting errors with automated bookkeeping.</p>
                        <p class="dashed"><b>18%</b> higher profit margins through smart tax and cost optimization</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section - Gallery -->
<div class="section section-inner">
    <div class="container">

        <!-- Section Gallery -->
        <div class="m-gallery">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" style="width: 100%;">
                    <div class="works-item">
                        <div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
                            <div class="img">
                                <img decoding="async" src="~/assets/images/DetailPage/Detail-6th.png" alt="Europe & Gulf" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section - Description -->
<section class="section section-inner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="post-content">
                    <h4>Keeping Your Finances as Polished as Your Products</h4>
                </div>
                <div class="post-content">
                    <h6>Europe and Gulf FZE (Online Beauty Product Exports)</h6>
                </div>

            </div>
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="post-content">
                        <li class="m-head"><strong>The Challenge:</strong></li>
                        <li class="dashed">Managing international transactions, fluctuating currency rates, and handling tax compliance across different regions made bookkeeping complex. High shipping costs and untracked expenses were eating into profits.</li>
                        <li class="m-head"><strong>Our Approach</strong></li>
                        <li class="dashed">Then we set up <b>automated accounting</b> for effortless sales tracking across multiple regions.</li>
                        <li class="dashed">Implemented <b>real-time tax reporting</b> to avoid penalties and overpayments.</li>
                        <li class="dashed">Designed a <b>cost-control strategy</b> to optimize courier expenses and pricing.</li>
                        <li class="m-head"><strong>The Outcome:</strong></li>
                        <li class="dashed">Reconciliation time cut by <b>19%</b>, saving hours each month.</p>
                        <li class="dashed"><b>20%</b> reduction in tax penalties with accurate filings</p>
                        <li class="dashed"><b>16%</b> increase in profit margins through better cost tracking and pricing strategies</p>
                        <li class="m-head"><strong>Client Feedback:</strong></li>
                        <p>Sky Elite Consultant LLC has consistently provided top-notch accounting, bookkeeping, and taxation services. Their expertise and efficiency have helped us maintain accurate financial records and compliance with ease.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="post-content">
                    <h5>Want to See Where You’re Losing Money?</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="post-content">
                    <p>Send us a sample financial report, and we’ll identify gaps that could be costing you profits.</p>
                    <p><strong>Let’s Optimize Your Finances!</strong></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
                    <a href="javascript:void(0);" class="btn consultationButton scrolla-element-anim-1 scroll-animate" id="consultationButton" data-animate="active">
                        <span><strong>Book Your Free Consultation</strong></span>
                    </a>
                </div>

            </div>
        </div>
</section>

<!-- Section - Navigation -->
<div class="section section-inner m-page-navigation">
    <div class="container">
        <div class="h-titles h-navs">
            <a href="FreshFlowerC7">
                <span class="nav-arrow splitting-text-anim-2 scroll-animate" data-animate="active">
                    <span>Ready to See What’s Next</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="currentColor" aria-label="Arrow" width="24" height="24">
                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                    </svg>
                </span>
            </a>
        </div>
    </div>
</div>