<!-- Section Started Heading -->
<section class="section section-inner started-heading">

    <!-- Heading -->
    <div class="container">
        <div class="m-titles align-left">
            <h1 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span>Helping Fresh Flower Traders Stay on Top of Their Finances</span>
            </h1>
            <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span>Accounting, Bookkeeping & Taxation</span>
            </div>
        </div>
    </div>

    <!-- Details -->
    <div class="v-line v-line-right v-line-top">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                    <div class="m-details">

                        <div class="details-label">
                            <span>Technology:</span>
                            <strong><span>Quick Book, FTA</span></strong>
                        </div>
                        <div class="details-label">
                            <span>Categories:</span>
                            <strong><span>Accounting, Bookkeeping & Taxation</span></strong>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 align-right">
                    <a href="javascript:void(0);" class="btn consultationButton scrolla-element-anim-1 scroll-animate" id="consultationButton" data-animate="active">
                        <span><strong>Book Now</strong></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Section - Description -->
<section class="section section-inner">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="post-content">
                    <h4>Numbers That Show Real Growth</h4>
                </div>

            </div>
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="post-content">
                        <p class="dashed"><b>6+</b> businesses now have clear, organized financial records.</p>
                        <p class="dashed"><b>14%</b> fewer errors and reduced manual work.</p>
                        <p class="dashed"><b>10%</b> more profit through better financial planning.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section - Gallery -->
<div class="section section-inner">
    <div class="container">

        <!-- Section Gallery -->
        <div class="m-gallery">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" style="width: 100%;">
                    <div class="works-item">
                        <div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
                            <div class="img">
                                <img decoding="async" src="~/assets/images/DetailPage/Detail-7th.png" alt="Item 2" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section - Description -->
<section class="section section-inner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="post-content">
                    <h4>Solving Financial Challenges for Flow the Empire of Flowers</h4>
                </div>
                <div class="post-content">
                    <h6>Freight & Logistics Accounting</h6>
                </div>

            </div>
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="post-content">
                        <li class="m-head"><strong>The Challenge:</strong></li>
                        <li class="dashed">Financial records were all over the place, tax filings were inconsistent, and managing cash flow during seasonal demand shifts was tough.</li>
                        <li class="m-head"><strong>Our Approach</strong></li>
                        <li class="dashed">We set up real-time cloud accounting, automated tax calculations, and introduced a structured financial system to track cash flow throughout the year.</li>
                        <li class="m-head"><strong>The Outcome:</strong></li>
                        <li class="dashed">Reconciliation time cut by 21%	</p>
                        <li class="dashed">Tax compliance improved, reducing penalties by 19%</p>
                        <li class="m-head"><strong>Client Feedback: Flow the Empire of Flowers</strong></li>
                        <p>We truly appreciate the exceptional accounting, bookkeeping, and taxation services provided by Sky Elite Consultant LLC. Their expertise and timely support have been instrumental in ensuring our financial accuracy and compliance.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="post-content">
                    <h5>Get a Free Financial Report Review </h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="post-content">
                    <p>Curious about what’s missing in your financial records? Send us a sample report, and we’ll review it for you.</p>
                    <p><strong>Let’s Get Your Finances in Order!</strong></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
                    <a href="javascript:void(0);" class="btn consultationButton scrolla-element-anim-1 scroll-animate" id="consultationButton" data-animate="active">
                        <span><strong>Book Your Free Consultation</strong></span>
                    </a>
                </div>
            </div>
        </div>
</section>

<!-- Section - Navigation -->
<div class="section section-inner m-page-navigation">
    <div class="container">
        <div class="h-titles h-navs">
            <a href="RoyalNordicC8">
                <span class="nav-arrow splitting-text-anim-2 scroll-animate" data-animate="active">
                    <span>Ready to See What’s Next</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="currentColor" aria-label="Arrow" width="24" height="24">
                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                    </svg>
                </span>
            </a>
        </div>
    </div>
</div>
