<!-- Section Started Heading -->
<section class="section section-inner started-heading">

    <!-- Heading -->
    <div class="container">
        <div class="m-titles align-left">
            <h1 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span>Maximize Your Tax Efficiency with Sarawan</span>
            </h1>
            <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                <span>MISC. Services</span>
            </div>
        </div>
    </div>

    <!-- Details -->
    <div class="v-line v-line-right v-line-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="m-details">
                        <div class="details-label">
                            <span>Technology:</span>
                            <strong><span>Quick Book</span></strong>
                        </div>
                        <div class="details-label">
                            <span>Categories:</span>
                            <strong><span>MISC. Services</span></strong>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 align-right">
                    <a href="javascript:void(0);" class="btn consultationButton scrolla-element-anim-1 scroll-animate" id="consultationButton" data-animate="active">
                        <span><strong>Book Now</strong></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section - Description -->
<section class="section section-inner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="post-content">
                    <h4>Tax Success for General Traders</h4>
                </div>
            </div>
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="post-content">
                        <p class="dashed"><b>16%</b>reduction in tax liabilities.</p>
                        <p class="dashed">compliance audits completed without penalties.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section - Gallery -->
<div class="section section-inner">
    <div class="container">

        <!-- Section Gallery -->
        <div class="m-gallery">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" style="width: 100%;">
                    <div class="works-item">
                        <div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
                            <div class="img">
                                <img decoding="async" src="~/assets/images/DetailPage/Detail-11th.png" alt="Maximize Your Tax Efficiency with Sarawan" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section - Description -->
<section class="section section-inner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="post-content">
                    <h4>Tax Optimization for Sarawan</h4>
                </div>
                <div class="post-content">
                    <h6>Sarawan General Traders</h6>
                </div>
            </div>
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="post-content">
                        <li class="m-head"><strong>The Challenge:</strong></li>
                        <li class="dashed">Struggling with complex tax filings, missed deductions, and high tax rates.</li>
                        <li class="m-head"><strong>Our Approach:</strong></li>
                        <li class="dashed">Our team conducted a thorough tax audit, simplified the company's tax filing process, and identified hidden savings.</li>
                        <li class="m-head"><strong>The Outcome:</strong></li>
                        <li class="dashed">Reduced tax liability by <b>16%</b>.</li>
                        <li class="dashed">Avoided penalties and fines.</li>
                        <li class="dashed">Improved overall financial health.</li>
                        <li class="m-head"><strong> Client Testimonial:  Sarawan</strong></li>
                        <p>We are thoroughly impressed with the accounting, bookkeeping, and taxation services provided by Sky Elite Consultant LLC. Their expert guidance and efficient solutions have significantly streamlined our financial operations.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="post-content">
                    <h5>Ensure Your Business Runs Profitably </h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>Enter your business details and get an estimated tax savings report.</p>
                <p><strong>Need a customized Tax strategy for your business?</strong></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
                <a href="javascript:void(0);" class="btn consultationButton scrolla-element-anim-1 scroll-animate" id="consultationButton" data-animate="active">
                    <span><strong>Book Your Free Consultation</strong></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Section - Navigation -->
<div class="section section-inner m-page-navigation">
    <div class="container">
        <div class="h-titles h-navs">
            <a href="Works">
                <span class="nav-arrow splitting-text-anim-2 scroll-animate" data-animate="active">
                    <span>Ready to See What’s Next</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="currentColor" aria-label="Arrow" width="24" height="24">
                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                    </svg>
                </span>
            </a>
        </div>
    </div>
</div>